{% extends "poll/base.html" %}

{% block title %}Homepage{% endblock %}

{% block main %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Available Polls</h3>
            </div>
                
            <ul class="list-group">
                {% for poll in polls %}
                <li class="list-group-item">
                    <strong>{{ poll.question }}</strong>
                    <span class="pull-right">
                        <a href="{% url 'vote' poll.id %}" class="btn btn-info btn-xs">Vote</a> &nbsp;
                        <a href="{% url 'view-one-question' poll.id %}" class="btn btn-default btn-xs">View Result</a> &nbsp;
                        <span class="btn btn-default btn-xs" onclick="comfirm({{poll.id}})">Delete</span> &nbsp;
                    </span>
                </li>
                {% endfor %}
                <div class="list-group-item">
                    <a href="{% url 'results' %} " class="list-group-item list-group-item-action text-center list-group-item-primary active">Results</a>
                    <a href="{% url 'logout' %} " class="list-group-item list-group-item-action text-center list-group-item-primary">Logout</a>
                </div>
            </ul>

        </div>
    </div>
</div>
<script type="text/javascript">
    function comfirm(poll_id){
        let choice = confirm("Bạn có chắc chưa!");
        if (choice == true) {
            window.location.href="delete/"+poll_id;
        }
    }
    
</script>
{% endblock %}